## PNPM 관련 설정 ###############
## https://pnpm.io/npmrc      #
###############################

# 항상 엄격한 모드를 사용할 수 있는 것은 아니지만, 가능하다면 true로 유지하세요.
# https://pnpm.io/next/npmrc#strict-peer-dependencies
strict-peer-dependencies=false

# 자동으로 피어 의존성을 설치하는 것은 불필요한 의존성 다운로드를 방지하기 위해 false여야 합니다.
# 설치가 실패한다면, 먼저 누락된 의존성을 패키지에 명시적으로 추가해보세요.
# 마지막 수단으로 true로 설정하세요 (문제가 상위 의존성에서 발생하는 경우).
# 최선의 설정은 false입니다.
# https://pnpm.io/npmrc#auto-install-peers
auto-install-peers=false

# 중복 항목을 찾는 데 도움이 됩니다. v8에서 기본값입니다.
# https://pnpm.io/next/npmrc#use-lockfile-v6
use-lockfile-v6=true

# 피어 의존성으로 인한 중복을 해결합니다 (>=7.29.0), v8에서 기본값입니다.
# https://github.com/pnpm/pnpm/releases/tag/v7.29.0
dedupe-peer-dependents=true

# 피어 의존성 해결에 도움이 됩니다 (>=7.23.0), v8에서 기본값입니다.
# https://pnpm.io/npmrc#resolve-peers-from-workspace-root
resolve-peers-from-workspace-root=true

# v8.5.0에서 기본값으로 'lowest'로 설정됩니다.
# 여기에 명시된 이유로 'highest'로 설정: https://github.com/pnpm/pnpm/issues/6463
# https://pnpm.io/npmrc#resolution-mode
resolution-mode=highest

# 루트/워크스페이스의 호이스팅 문제를 해결하기 위해 8.1.0에서 기본 설정됩니다.
# https://pnpm.io/npmrc#dedupe-direct-deps
dedupe-direct-deps=false

# 정확한 버전으로 핀 고정 (기본값은 '^')
# https://pnpm.io/npmrc#save-prefix
# save-workspace-protocol이 이 설정에 어떻게 영향을 미치는지도 확인하세요: https://pnpm.io/npmrc#save-workspace-protocol
save-prefix=''

# 대부분의 경우, 모노레포에 대해 롤링 프로토콜을 사용하고 싶을 겁니다.
# https://pnpm.io/npmrc#save-workspace-protocol
save-workspace-protocol=rolling
